/* Variables */

:root {
    --accent: #ab634e;
    --darker: #000;
    --dark: #2c2c2c;
    --link: #2c2c2c;
    --hover: #000;
    --text: #2c2c2c;
    --sidebar: 230px;
    --padding: 20px;
    --light: #fff;
}

/*************/